<div style="margin-left: 10px;">
<h2 mat-dialog-title class="dialog-header">Type your time</h2>

<mat-dialog-content [formGroup]="form">

  <div fxLayout="row" >
    <mat-form-field fxFlex="25">
      <input matInput placeholder="Date" formControlName="date" />
    </mat-form-field>
  </div>

  <div fxLayout="row" >
    <div fxLayout="column" fxFlex="65">
      <div fxLayout="row" fxLayoutGap="30px">
      <mat-form-field fxFlex="40">
        <input matInput placeholder="Start" formControlName="start" />
      </mat-form-field>
      <mat-form-field fxFlex="40">
        <input matInput placeholder="End" (blur) = "getHours()" formControlName="end" />
      </mat-form-field>
    </div>
    </div>
    <div fxLayout="column" fxFlex="25">
    <mat-form-field >
      <input (click)="getHours()" matInput placeholder="Hours" formControlName="hours" readonly />
    </mat-form-field>
    </div>
  </div>

  <div fxLayout="row">
    <div fxLayout="column" fxFlex="90">
      <div fxLayout="row" fxLayoutGap="40px">
      <mat-form-field>
        <mat-label>Project</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
          <mat-option value="three">Third option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Work Type</mat-label>
        <mat-select>
          <mat-option value="one">Meeting</mat-option>
          <mat-option value="two">Programming</mat-option>
        </mat-select>
      </mat-form-field>
      </div>
    </div>
    <div fxLayout="column" fxFlex="10">

    </div>
  </div>

  <div fxLayout="row">
  <mat-form-field class="textarea-full-width">
    <textarea matInput placeholder="Description" formControlName="description"> </textarea>
  </mat-form-field>
  </div>

</mat-dialog-content>
<div fxLayout="row" style="margin-top: 25px; margin-right: 50px" fxLayoutGap="20px" fxLayoutAlign="end">
<button mat-raised-button color="basic" (click)="close()">Close</button>
<button mat-raised-button color="primary" (click)="saveMessage()">Save</button>
</div>
</div>